/* Disable text justification (user preference) */
#bodyContent {
	text-align: left !important;
    background-color: #F0F0FF;
    font-size: 10px;
}

.jxgbox {
    position:relative;
    width:95% !important;
    height:0;
    padding-bottom:95% !important;
    margin-left:auto;
    margin-right:auto;
}
