/* Some of the padding is best dispatched with */
#main,
#top-wrap h1,
#tagline,
#nav,
#footer-wrap-inner,
.message {
	width: 100%;
	border: 0;
}

#bodyContent,
.message *,
#footer {
	padding-left: 1em;
	padding-right: 1em;
}

#bodyContent {
    text-align: left !important;
    background-color: #F0F0FF;
    font-size: 14px;
}


.jxgbox {
    position:relative;
    width:95% !important;
    height:0;
    padding-bottom:95% !important;
    margin-left:auto;
    margin-right:auto;
}
