/* Reduce padding a bit further */
#bodyContent,
.message *,
#footer {
	padding-left: 1em;
	padding-right: 1em;
    background-color: #F88;
}

/* Stack footer columns */
.footer {
	display: block;
	float: none;
	width: 90%;
}
